<div class="d-flex justify-content-center mt-5">
  <form method="POST" action="/reurl">
    <div class="mb-3" style="width: 50em;">
      <input class="form-control" type="url" name="url" placeholder="Input URL here..." id="url" required>
    </div>

    <button type="submit" class="btn btn-outline-primary d-grid gap-1 col-6 mx-auto mt-2">Shorten</button>

  </form>
</div>